[Unit]
Description=Mount unit for canonical-livepatch, revision 282
After=snapd.mounts-pre.target
Before=snapd.mounts.target

[Mount]
What=/var/lib/snapd/snaps/canonical-livepatch_282.snap
Where=/snap/canonical-livepatch/282
Type=squashfs
Options=nodev,ro,x-gdu.hide,x-gvfs-hide
LazyUnmount=yes

[Install]
WantedBy=snapd.mounts.target
WantedBy=multi-user.target
